body {
  margin: 0px;
  padding: 0px;
}

.book-grid {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.book-card {
  border: 1px black solid;
  height: 325px;
  width: 150px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 6px 4px 0px 0px rgba(0, 0, 0, 0.3);
  background-color: white;
  display: flex;
  flex-direction: column;
  /* transition: transform 750ms ease-out; */
}

.book-card:hover {
  transform: scale(1.1);
  transition: .5s ease;
}

.book-card .cover-book {
  height: 65%;
  object-fit: contain;
}

/* .book-card span{
  height: 10%;
} */

.book-card .heart {
  height: 10%;
  object-fit: contain;
}

